GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000

# Google Sheets & Drive API Key JSON as string
GOOGLE_SERVICE_ACCOUNT_KEY={"type": "service_account", "project_id": "...", ...}
GOOGLE_SHEET_ID=14iW26B06PFTKr3nmdYT_3RmjqjGRww7J8atnU0rYiHA
GOOGLE_DRIVE_FOLDER_ID=1YkfrxizeZWGDXakb5-MVfSKEdIK5Y6TO
